html, body, main { background: #FE9A2E; }

header {
  max-width: 75em;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  font-weight: bold; 
  padding-top: .25em;
}

section {
	max-width: 75em;
  border: 2px red solid;
  margin: .5em auto;
  > h1 {
    max-width: 15em;
    margin: .25em auto;
    text-align: center;
    font-size: 5em;
  }
  > p {
    max-width: 73em;
    margin: .5em auto;
    text-align: justify;
  }
  > img {
    max-width: 15em;
    margin: .5em auto;
  }

  > a {
    max-width: 15em;
    margin: .5em auto;
    text-align: center;
  }
}

menu { 
  max-width: 75em;
  margin: .5em auto;
  text-align: center;
  > m1 { 
    margin-left: -.15em;
    float: left;
  }
  > m3 {
    float: right;
  }
}